<div class="bounce">
    <img src="https://img1.hkrtcdn.com/react/static/media/common/misc/top.svg">
</div>
<div class="main-listing-class">

    <div class="upper-block">
        <div>
            <input class="form-control inputWidth" type="search" placeholder="Search" aria-label="Search">
            <button class="btn  my-2 my-sm-0 custom_Btn" type="submit">Search</button>
        </div>

        <div class="result-count">
            <!-- Showing 1 – 40 of 28,28,933 results for "All Mobiles" -->
            Showing 1 – {{totalPages}} of {{totalProducts}} results for "All Mobiles"
        </div>

        <div class="sorting-class">
            <span class="firstIdex"> Sort By </span>
            <span class="extraPadding"> Relevance </span>
            <span class="extraPadding"> Popularity </span>
            <span class="extraPadding active-selected-sort"> Price -- Low to High </span>
            <span class="extraPadding"> Price -- High to Low </span>
            <span class="extraPadding"> Newest First </span>
        </div>
    </div>

    <div class="product-listing-div"  *ngFor = 'let product of productsOnPageList'>
        <div class="image-div">
            <div style="position: relative;
            display: block;">
                <div style="height: 200px;
                width: 200px;">
                    <!-- <img class="img-cls"
                        src="https://rukminim1.flixcart.com/image/312/312/k8ddoy80/mobile/u/g/w/realme-narzo-10a-rmx2020-original-imafqechxsprgfgr.jpeg?q=70"> -->
                        <img class="img-cls"
                        src="{{product.productUrl}}"/>
                </div>
            </div>
        </div>

        <div class="right-div">
            <div class="right-1">
                <div class="heading-right-1">
                    <!-- Realme Narzo 10A (So White, 32 GB) -->
                    {{product.productDesc}}
                </div>

                <div class="below-heading">
                    <span class="rating">
                        <div class="rating-inside">
                            4.6
                            <img class="star-image"
                                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==">
                        </div>
                    </span>
                    <span class="reviews">
                        <span>356 Ratings&nbsp;</span>
                        <span class="_1VpSqZ">&amp;</span>
                        <span>&nbsp;29 Reviews</span>
                    </span>
                </div>

                <div class="main-content-right-1">
                    <ul class="ul-listing">
                        <li class="li-listing">
                            <!-- 3 GB RAM | 32 GB ROM | Expandable Upto 256 GB -->
                            {{product.mobileRam}} RAM | {{product.mobileStorage}} ROM | Expandable Upto 256 GB
                        </li>
                        <li class="li-listing">
                            <!-- 16.56 cm (6.52 inch) HD+ Display -->
                            {{product.mobileScreen}}
                        </li>
                        <li class="li-listing">
                            <!-- 12MP + 2MP + 2MP | 5MP Front Camera -->
                            {{product.mobileBackCam}} | {{product.mobileFrontCam}}
                        </li>
                        <li class="li-listing">
                            <!-- 5000 mAh Lithium-ion Battery -->
                            {{product.mobileBattery}} Lithium-ion Battery
                        </li>
                        <li class="li-listing">
                            <!-- MediaTek Helio G70 (12 nm) Processor -->
                            {{product.mobileProcessor}}
                        </li>

                        <li class="li-listing">
                            Brand Warranty of 1 Year Available for Mobile and 6 Months for Accessories
                        </li>


                    </ul>
                </div>
            </div>
            <div class="right-2">
                <div class="pricing-Div">
                    <!-- $5,000 -->
                    {{product.productPrice}}
                </div>
            </div>
        </div>
    </div>


    <!-- /////////// ng for remove all///////////////  1-->
    <!-- <div class="product-listing-div">
        <div class="image-div">
            <div style="position: relative;
            display: block;">
                <div style="height: 200px;
                width: 200px;">
                    <img class="img-cls"
                        src="https://rukminim1.flixcart.com/image/312/312/k8ddoy80/mobile/u/g/w/realme-narzo-10a-rmx2020-original-imafqechxsprgfgr.jpeg?q=70">
                </div>
            </div>
        </div>

        <div class="right-div">
            <div class="right-1">
                <div class="heading-right-1">
                    Realme Narzo 10A (So White, 32 GB)
                </div>

                <div class="below-heading">
                    <span class="rating">
                        <div class="rating-inside">
                            4.6
                            <img class="star-image"
                                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==">
                        </div>
                    </span>
                    <span class="reviews">
                        <span>356 Ratings&nbsp;</span>
                        <span class="_1VpSqZ">&amp;</span>
                        <span>&nbsp;29 Reviews</span>
                    </span>
                </div>

                <div class="main-content-right-1">
                    <ul class="ul-listing">
                        <li class="li-listing">
                            3 GB RAM | 32 GB ROM | Expandable Upto 256 GB
                        </li>
                        <li class="li-listing">
                            16.56 cm (6.52 inch) HD+ Display
                        </li>
                        <li class="li-listing">
                            12MP + 2MP + 2MP | 5MP Front Camera
                        </li>
                        <li class="li-listing">
                            5000 mAh Lithium-ion Battery
                        </li>
                        <li class="li-listing">
                            MediaTek Helio G70 (12 nm) Processor
                        </li>

                        <li class="li-listing">
                            Brand Warranty of 1 Year Available for Mobile and 6 Months for Accessories
                        </li>


                    </ul>
                </div>
            </div>
            <div class="right-2">
                <div class="pricing-Div">
                    $5,000
                </div>
            </div>
        </div>
    </div> -->
    <!-- 2 -->
    <!-- <div class="product-listing-div">
        <div class="image-div">
            <div style="position: relative;
            display: block;">
                <div style="height: 200px;
                width: 200px;">
                    <img class="img-cls"
                        src="https://rukminim1.flixcart.com/image/312/312/k8ddoy80/mobile/u/g/w/realme-narzo-10a-rmx2020-original-imafqechxsprgfgr.jpeg?q=70">
                </div>
            </div>
        </div>

        <div class="right-div">
            <div class="right-1">
                <div class="heading-right-1">
                    Realme Narzo 10A (So White, 32 GB)
                </div>

                <div class="below-heading">
                    <span class="rating">
                        <div class="rating-inside">
                            4.6
                            <img class="star-image"
                                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==">
                        </div>
                    </span>
                    <span class="reviews">
                        <span>356 Ratings&nbsp;</span>
                        <span class="_1VpSqZ">&amp;</span>
                        <span>&nbsp;29 Reviews</span>
                    </span>
                </div>

                <div class="main-content-right-1">
                    <ul class="ul-listing">
                        <li class="li-listing">
                            3 GB RAM | 32 GB ROM | Expandable Upto 256 GB
                        </li>
                        <li class="li-listing">
                            16.56 cm (6.52 inch) HD+ Display
                        </li>
                        <li class="li-listing">
                            12MP + 2MP + 2MP | 5MP Front Camera
                        </li>
                        <li class="li-listing">
                            5000 mAh Lithium-ion Battery
                        </li>
                        <li class="li-listing">
                            MediaTek Helio G70 (12 nm) Processor
                        </li>

                        <li class="li-listing">
                            Brand Warranty of 1 Year Available for Mobile and 6 Months for Accessories
                        </li>


                    </ul>
                </div>
            </div>
            <div class="right-2">
                <div class="pricing-Div">
                    $5,000
                </div>
            </div>
        </div>
    </div> -->
    <!-- 3 -->
    <!-- <div class="product-listing-div">
        <div class="image-div">
            <div style="position: relative;
            display: block;">
                <div style="height: 200px;
                width: 200px;">
                    <img class="img-cls"
                        src="https://rukminim1.flixcart.com/image/312/312/k8ddoy80/mobile/u/g/w/realme-narzo-10a-rmx2020-original-imafqechxsprgfgr.jpeg?q=70">
                </div>
            </div>
        </div>

        <div class="right-div">
            <div class="right-1">
                <div class="heading-right-1">
                    Realme Narzo 10A (So White, 32 GB)
                </div>

                <div class="below-heading">
                    <span class="rating">
                        <div class="rating-inside">
                            4.6
                            <img class="star-image"
                                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==">
                        </div>
                    </span>
                    <span class="reviews">
                        <span>356 Ratings&nbsp;</span>
                        <span class="_1VpSqZ">&amp;</span>
                        <span>&nbsp;29 Reviews</span>
                    </span>
                </div>

                <div class="main-content-right-1">
                    <ul class="ul-listing">
                        <li class="li-listing">
                            3 GB RAM | 32 GB ROM | Expandable Upto 256 GB
                        </li>
                        <li class="li-listing">
                            16.56 cm (6.52 inch) HD+ Display
                        </li>
                        <li class="li-listing">
                            12MP + 2MP + 2MP | 5MP Front Camera
                        </li>
                        <li class="li-listing">
                            5000 mAh Lithium-ion Battery
                        </li>
                        <li class="li-listing">
                            MediaTek Helio G70 (12 nm) Processor
                        </li>

                        <li class="li-listing">
                            Brand Warranty of 1 Year Available for Mobile and 6 Months for Accessories
                        </li>


                    </ul>
                </div>
            </div>
            <div class="right-2">
                <div class="pricing-Div">
                    $5,000
                </div>
            </div>
        </div>
    </div> -->
    <!-- 4 -->
    <!-- <div class="product-listing-div">
        <div class="image-div">
            <div style="position: relative;
            display: block;">
                <div style="height: 200px;
                width: 200px;">
                    <img class="img-cls"
                        src="https://rukminim1.flixcart.com/image/312/312/k8ddoy80/mobile/u/g/w/realme-narzo-10a-rmx2020-original-imafqechxsprgfgr.jpeg?q=70">
                </div>
            </div>
        </div>

        <div class="right-div">
            <div class="right-1">
                <div class="heading-right-1">
                    Realme Narzo 10A (So White, 32 GB)
                </div>

                <div class="below-heading">
                    <span class="rating">
                        <div class="rating-inside">
                            4.6
                            <img class="star-image"
                                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==">
                        </div>
                    </span>
                    <span class="reviews">
                        <span>356 Ratings&nbsp;</span>
                        <span class="_1VpSqZ">&amp;</span>
                        <span>&nbsp;29 Reviews</span>
                    </span>
                </div>

                <div class="main-content-right-1">
                    <ul class="ul-listing">
                        <li class="li-listing">
                            3 GB RAM | 32 GB ROM | Expandable Upto 256 GB
                        </li>
                        <li class="li-listing">
                            16.56 cm (6.52 inch) HD+ Display
                        </li>
                        <li class="li-listing">
                            12MP + 2MP + 2MP | 5MP Front Camera
                        </li>
                        <li class="li-listing">
                            5000 mAh Lithium-ion Battery
                        </li>
                        <li class="li-listing">
                            MediaTek Helio G70 (12 nm) Processor
                        </li>

                        <li class="li-listing">
                            Brand Warranty of 1 Year Available for Mobile and 6 Months for Accessories
                        </li>


                    </ul>
                </div>
            </div>
            <div class="right-2">
                <div class="pricing-Div">
                    $5,000
                </div>
            </div>
        </div>
    </div> -->

    <div class="pagination">
        <span class="pageNumber"> Page 1 of {{totalProducts}} </span>
        <nav class="nav-number">
            <span class="previous-cls" *ngIf = "showPreviousBtn" (click) = 'prevBtn()'>Previous</span>

            <!-- <span class="inner-number-page">
                1
            </span> -->
            <span [ngClass] = "{'inner-number-page' : true, 'inner-number-active' : page.selected}" *ngFor = "let page of paginationNumber" (click) = "onPageNumClick(page)">
                {{page.value}}
            </span>
            <!-- <span class="inner-number-page inner-number-active">
                2
            </span>
            <span class="inner-number-page">
                3
            </span>
            <span class="inner-number-page">
                4
            </span>
            <span class="inner-number-page">
                5
            </span>
            <span class="inner-number-page">
                6
            </span>
            <span class="inner-number-page">
                7
            </span>
            <span class="inner-number-page">
                8
            </span> -->

            <span class="next-cls" *ngIf = "showNextBtn" (click) = 'nextBtn()'>Next</span>  
        </nav>


        <span class="last-span">
        </span>
    </div>



</div>