/* You can add global styles to this file, and also import other style files */
// body {
//     padding-top: 56px;
//   }

//   .removePadding{
//       padding-top: 0px;
//   }

  .addPadding{
    padding-top: 56px;
}

// body{
//   background-color: #eaeded;
// }

body{
  background-color: #f1f3f6;
  // background-color: #eaeded;
  font-family: Roboto,Arial,sans-serif;
  letter-spacing: 0px;
}