.mainBg{
   height: 100%;
   background: #eff1f4
}

.products-main{
      background: #fff;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.06);
 }

.col-padding{
   padding: 10px 5px 0px 5px;
}  

.rightSection  {
   width: 70%;
   float: right;
}

.leftSection{
   width: 28.5%;
   float: left;
}

.customMargin{
   margin: 0px;
   padding: 0px;
}